.amenities-section {
  padding: 2rem 1rem;
  background-color: #fffaf5;
  text-align: center;
  color: #4e342e;
}

.amenities-section h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.amenities-section p {
  font-size: 1.1rem;
  margin-bottom: 2rem;
  color: #5d4037;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.amenity-grid {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.amenity-card {
  width: 250px;
  background-color: #f5f3ef;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  border: 1px solid #d7ccc8;
  padding-bottom: 1rem;
}

.amenity-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.amenity-card h4 {
  margin-top: 0.75rem;
  color: #4e342e;
}
.amenity-card p.amenity-description {
  font-size: 0.95rem;
  color: #5d4037;
  margin: 0.5rem 1rem 1rem;
  text-align: left;
}
